[submodule "lotus-vim/plugins/Tagbar"]
	path = lotus-vim/plugins/Tagbar
	url = git://github.com/vim-scripts/Tagbar.git
[submodule "lotus-vim/plugins/nerdtree"]
	path = lotus-vim/plugins/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "lotus-vim/plugins/minibufexpl"]
	path = lotus-vim/plugins/minibufexpl
	url = git://github.com/fholgado/minibufexpl.vim.git
[submodule "lotus-vim/plugins/vim-powerline"]
	path = lotus-vim/plugins/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
