[submodule "lotus-vim/plugins/Tagbar"]
	path = lotus-vim/plugins/Tagbar
	url = git://github.com/vim-scripts/Tagbar.git
[submodule "lotus-vim/plugins/nerdtree"]
	path = lotus-vim/plugins/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "lotus-vim/plugins/minibufexpl"]
	path = lotus-vim/plugins/minibufexpl
	url = git://github.com/fholgado/minibufexpl.vim.git
[submodule "lotus-vim/plugins/vim-powerline"]
	path = lotus-vim/plugins/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "lotus-vim/plugins/Conque-Shell"]
	path = lotus-vim/plugins/Conque-Shell
	url = https://github.com/vim-scripts/Conque-Shell.git
[submodule "Conque-Shell"]
	path = Conque-Shell
	url = https://github.com/apporc/Conque-Shell.git
