[submodule "lotus-vim/plugins/Tagbar"]
	path = lotus-vim/plugins/Tagbar
	url = git://github.com/vim-scripts/Tagbar.git
[submodule "lotus-vim/plugins/nerdtree"]
	path = lotus-vim/plugins/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "lotus-vim/plugins/minibufexpl"]
	path = lotus-vim/plugins/minibufexpl
	url = git://github.com/fholgado/minibufexpl.vim.git
[submodule "lotus-vim/plugins/vim-powerline"]
	path = lotus-vim/plugins/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "lotus-vim/plugins/Conque-Shell"]
	path = lotus-vim/plugins/Conque-Shell
	url = https://github.com/apporc/Conque-Shell.git
[submodule "lotus-vim/plugins/cscope.vim"]
	path = lotus-vim/plugins/cscope.vim
	url = https://github.com/vim-scripts/cscope.vim.git
[submodule "lotus-vim/plugins/pycscope"]
	path = lotus-vim/plugins/pycscope
	url = https://github.com/portante/pycscope.git
[submodule "lotus-vim/plugins/powerline"]
	path = lotus-vim/plugins/powerline
	url = https://github.com/Lokaltog/powerline.git
[submodule "lotus-vim/plugins/syntastic"]
	path = lotus-vim/plugins/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "lotus-vim/plugins/pyflakes"]
	path = lotus-vim/plugins/pyflakes
	url = git://github.com/kevinw/pyflakes.git
[submodule "lotus-vim/plugins/flake8"]
	path = lotus-vim/plugins/flake8
	url = git://github.com/bmcustodio/flake8.git
