[user]
	email = appleorchard2000@gmail.com
	name = apporc
[color]
	ui = auto
[diff]
	rename = true
[push]
	default = simple
[gitreview]
	scheme = https
	port = 443
	username = apporc
[pager]
	branch = false
