[Unit]
Description=routercontainer
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a router
ExecStop=/usr/bin/docker stop -t 2 router

[Install]
WantedBy=multi-user.target
